<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <style>
        #infield {
            font-family: monospace;
            font-size: 150%;

        }
    </style>
    <title>Bram’s Sudoku Solver</title>
</head>

<body>
    <h1>Bram’s Sudoku Solver</h1>
    <p>This is a simple project to learn Flask, Docker, etc. The sudoku solver itself I wrote on another occasion.</p>
    <h2>Solve a sudoku</h2>
    <p>Fill in your unsolved sudoku. Use <code>0</code> for empty fields. Only the 81 digists are read, so you don't
        have to care about formatting.</p>
    <form action="/solve" method="post">
        <textarea name="sudoku" rows="9" id="infield" placeholder="1 0 0  0 0 0  0 0 6
0 0 6  0 2 0  7 0 0
7 8 9  4 5 0  1 0 3
0 0 0  8 0 7  0 0 4
0 0 0  0 3 0  0 0 0 
0 9 0  0 0 4  2 0 1
3 1 2  9 7 0  0 4 0
0 4 0  0 1 2  0 7 8
9 0 8  0 0 0  0 0 0" wrap="off"></textarea>
        <button type="submit">Solve!</button>
    </form>
    <h2>API</h2>
    <p><b>Solve</b> sudokus with <a
            href="/solve?s=100000006006020700789450103000807004000030000090004201312970040040012078908000000">/solve?s=<i>100000006…8908000000</i></a>
    <ul>
        <li>
            <pre>s=</pre> 81 digits with initial sudoku.
        </li>
        <li>
            <pre>format=</pre> result format, {<i><b>text</b>, html, json</i>.
        </li>
    </ul>
    </p>
</body>

</html>